<h2>Catálogo de Produtos</h2>

<div class="botoes">
  <button (click)="aumentarPrecos()">Aumentar Preços em 10%</button>
  <button (click)="diminuirPrecos()">Diminuir Preços em 10%</button>
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Status do Estoque</th>
    </tr>
  </thead>
  <tbody>
    @for (produto of produtos; track produto.id) {
    <tr>
      <td>{{ produto.nome }}</td>

      <td [ngStyle]="{ 'color': produto.preco > 2000 ? 'blue' : 'black' }">
        R$ {{ produto.preco | number:'1.2-2' }}
      </td>

      <td>
        <span [ngClass]="{
            'disponivel': produto.estoque > 0,
            'indisponivel': produto.estoque <= 0
          }">
          @if (produto.estoque > 0) {
          <span>Disponível</span>
          } @else {
          <span>Indisponível</span>
          }
        </span>
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="3" class="nenhum-produto">Nenhum produto cadastrado.</td>
    </tr>
    }
  </tbody>
</table>